@font-face {
    src : url("../fonts/BMDOHYEON_ttf");
    font-family: dohyeon;
}
	navbar{
	    font-family: dohyeon;
	}

    footer {
     position:absolute;

  	width:100%;
     background-color: #555;
     color: white;
	margin-top: 100px;
	height : auto;
     background-color:#5BB9A8; color:white; text-align: center;
	left:0;
	}